<div ng-controller="SightingsByDeviceController as sightingsByDeviceUi">
    <div class="row">
        <div class="col-sm-12">
            <br/>
            <nav class="navbar navbar-default col-sm-12">
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            <i class="fa {{sightingsByDeviceUi.currentPageView.icon}}"></i>&nbsp;&nbsp;{{ sightingsByDeviceUi.currentPageView.title}} <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li ng-repeat="view in sightingsByDeviceUi.pageViews"><a type="button" ng-click="sightingsByDeviceUi.changeView(view.name)"><i class="fa {{view.icon}}"></i>&nbsp;&nbsp;{{view.title}}</a></li>
                        </ul>
                    </li>
                </ul>
                <form class="navbar-form" ng-show="sightingsByDeviceUi.currentPageView.name === 'hours'">
                    <div class="form-group">
                        <label>Hours&nbsp;</label>
                        <input type="number" class="form-control" ng-model="sightingsByDeviceUi.hoursText">
                    </div>
                    <div class="form-group">
                        &nbsp;
                        <button class="btn btn-default" type="button" ng-click="sightingsByDeviceUi.load()">Load</button>
                         &nbsp;
                         <export-table-to file-name="Reports" table-id-to-export="reportsTableList"></export-table-to>
                    </div>
                </form>
                <form class="navbar-form" ng-show="sightingsByDeviceUi.currentPageView.name === 'range'">
                    <div class="form-group">
                        <label>From&nbsp;</label>
                        <input type='text' data-date-time-picker data-format="YYYY-MM-DDTHH:mm:ss" class="form-control datetimepicker" ng-model="sightingsByDeviceUi.fromText" placeholder="yyyy-mm-ddThh:mm:ss" ng-change="sightingsByDeviceUi.validateDateRange()"/>
                    </div>
                    <div class="form-group">
                        <label>&nbsp;&nbsp;To&nbsp;</label>
                        <input type="text" data-date-time-picker data-format="YYYY-MM-DDTHH:mm:ss" class="form-control datetimepicker" ng-model="sightingsByDeviceUi.toText" placeholder="yyyy-mm-ddThh:mm:ss" ng-change="sightingsByDeviceUi.validateDateRange()" data-nomax="true">
                    </div>
                    <div class="form-group">
                        &nbsp;
                        <button class="btn btn-default" type="button" ng-click="sightingsByDeviceUi.load()">Load</button>
                        &nbsp;
                         <export-table-to file-name="Reports" table-id-to-export="reportsTableList"></export-table-to>
                    </div>
                </form>
            </nav>
        </div>
    </div>    
    <div class="row">
        <div class="col-sm-12">
            <br/>
            <nav class="pull-right" aria-label="Page navigation" ng-show="sightingsByDeviceUi.totalPages > 1">
                <ul class="pagination">
                    <li ng-class="{'disabled': sightingsByDeviceUi.page === 1}"><a role="button" aria-label="Previous" ng-click="sightingsByDeviceUi.previous();"><span aria-hidden="true">&laquo;</span></a></li>
                    <li ng-repeat="n in sightingsByDeviceUi.pageArray" ng-class="{'active': n === sightingsByDeviceUi.page}"><a role="button" ng-click="sightingsByDeviceUi.gotoPage(n);" aria-label="Page {{n}}"><span aria-hidden="true">{{n}}</span></a></li>
                    <li ng-class="{'disabled': sightingsByDeviceUi.page === sightingsByDeviceUi.totalPages}"><a role="button" aria-label="Next" ng-click="sightingsByDeviceUi.next();"><span aria-hidden="true">&raquo;</span></a></li>
                </ul>
            </nav>
            <div ng-if="sightingsByDeviceUi.errorMessage" class="alert alert-danger">{{ sightingsByDeviceUi.errorMessage }}</div>
            <table class="table table-striped" id="reportsTableList">
                <thead>
                <tr>
                    <th width="20">#</th>
                    <th class="noExport"></th>
                    <th>Sentry</th>
                    <th>Sentinel</th>
                    <th>Sequence</th>
                    <th>Beacon Type</th>
                    <th>Time of Receipt</th>
                    <th>Battery (%)</th>
                    <th>Battery (V)</th>
                    <th>Humidity (%)</th>
                    <th>Light (lux)</th>
                    <th>Rssi (db)</th>
                    <th>Internal Temp (&deg;C)</th>
                    <th>Internal Temp (&deg;F)</th>
                    <th>Shock Magnitude</th>
                    <th>Shock Elapsed Time</th>
                    <th>Shock X</th>
                    <th>Shock Y</th>
                    <th>Shock Z</th>
                    <th>Tilt X</th>
                    <th>Tilt Y</th>
                    <th>Tilt Z</th>
                    <th>Pressure</th>
                    <th>Power Source</th>
                    <th>First Seen Timestamp</th>
                    <th>Last Seen Timestamp</th>
                   
                </tr>
                </thead>
                <tbody>
                <tr ng-show="sightingsByDeviceUi.list.length === 0" class="warning noExport">
                    <td></td>
                    <td colspan="28">There are no records</td>
                </tr>
                <tr ng-show="sightingsByDeviceUi.list.length != 0" ng-repeat="item in sightingsByDeviceUi.list track by $index">
                    <td width="20">{{ (sightingsByDeviceUi.page > 1) ? ((sightingsByDeviceUi.page - 1) * sightingsByDeviceUi.itemsPerPage) + $index + 1 : $index + 1 }}</td>
                    <td class="noExport">
                        <div class="dropdown">
                            <button class="btn btn-sm btn-default dropdown-toggle" type="button" id="dropdown{{$index}}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fa fa-bars"></i>&nbsp;&nbsp;<span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="dropdown{{$index}}">
                                <li><a ng-click="sightingsByDeviceUi.gotoSightingsForReport(item)"><i class="fa fa-sm fa-search"></i>&nbsp;Sightings for this report</a></li>
                                <!--<li role="separator" class="divider"></li>-->
                                <!--<li><a ng-click="latestSentryReportUi.gotoDeviceReports(item)"><i class="fa fa-sm fa-search"></i>&nbsp;Reports from this Sentry</a></li>-->
                                <!--<li><a ng-click="latestSentryReportUi.gotoSightingsByDevice(item)"><i class="fa fa-sm fa-search"></i>&nbsp;Sightings by this Sentry</a></li>-->
                                <!--<li><a ng-click="latestSentryReportUi.gotoSightingsPivotForDevice(item)"><i class="fa fa-sm fa-search"></i>&nbsp;Sightings Pivot for this Sentry</a></li>-->
                                <!--<li role="separator" class="divider"></li>-->
                                <!--<li><a ng-click="latestSentryReportUi.gotoSeparationSimulator(item)"><i class="fa fa-sm fa-arrow-circle-right"></i>&nbsp;Separation simulator</a></li>-->
                                <!--<li role="separator" class="divider"></li>-->
                                <!--<li><a ng-click="latestSentryReportUi.goToReportSightings(item)"><i class="fa fa-sm fa-arrow-circle-right"></i>&nbsp;Warehouse simulator</a></li>-->
                                <!--<li><a ng-click="latestSentryReportUi.goToReportSightings(item)"><i class="fa fa-sm fa-plus-square"></i>&nbsp;Add to warehouse simulator</a></li>-->
                                <!--<li><a ng-click="latestSentryReportUi.goToReportSightings(item)"><i class="fa fa-sm fa-minus-square"></i>&nbsp;Remove from warehouse simulator</a></li>-->
                            </ul>
                        </div>
                    </td>
                    <td>{{ item.imei }}</td>
                    <td>{{ item.sightingId }}</td>
                    <td>{{ item.sequenceNumber }}</td>
                    <td>{{ item.beaconType }}</td>
                    <td><span local-datetime utc-datetime="{{ item.timeOfReceipt }}" date-format="L" time-format="LTS"></span></td>
                    <td>{{ item.batteryVoltage | batteryPercentage }}</td>
                    <td>{{ item.batteryVoltage }}</td>
                    <td>{{ item.humidity}}</td>
                    <td>{{ item.lightValue}}</td>
                    <td>{{ item.rssi }}</td>
                    <td>{{ item.temperatureValueC }}</td>
                    <td>{{ item.temperatureValueF }}</td>
                    <td>{{ item.shockMagnitude}}</td>
                    <td>{{ item.shockElapsedTime}}</td>
                    <td>{{ item.shockX}}</td>
                    <td>{{ item.shockY}}</td>
                    <td>{{ item.shockZ}}</td>
                    <td>{{ item.tiltX}}</td>
                    <td>{{ item.tiltY}}</td>
                    <td>{{ item.tiltZ}}</td>
                    <td>{{ item.pressureValue}}</td>
                    <td>{{ item.statusFlags_PowerSource}}</td>
                    <td><span local-datetime utc-datetime="{{ item.firstSeenTimestamp }}" date-format="L" time-format="LTS"></span></td>
                    <td><span local-datetime utc-datetime="{{ item.lastSeenTimestamp }}" date-format="L" time-format="LTS"></span></td>

                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>