<style type="text/css">
<!--
span.cls_002{font-family:Arial,serif;font-size:12.1px;color:rgb(0,0,0);font-weight:bold;font-style:normal;text-decoration: none}
div.cls_002{font-family:Arial,serif;font-size:12.1px;color:rgb(0,0,0);font-weight:bold;font-style:normal;text-decoration: none}
span.cls_003{font-family:Arial,serif;font-size:12.1px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
div.cls_003{font-family:Arial,serif;font-size:12.1px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
span.cls_006{font-family:Arial,serif;font-size:12.1px;color:rgb(0,0,255);font-weight:normal;font-style:normal;text-decoration: underline}
div.cls_006{font-family:Arial,serif;font-size:12.1px;color:rgb(0,0,255);font-weight:normal;font-style:normal;text-decoration: none}
.parag{
    width: 771px;
    text-align: justify;
    line-height: 0.9;
}
-->
</style>

<div ng-controller="TermOfServiceController as termCtrl">
    <div class=" col-sm-12">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="row" style="height: 85vh;">
                    <div class="col-sm-12" style="height:85%;overflow-y: auto;">

<div style="position:absolute;left:50%;margin-left:-414px;top:0px;width:909px;height:800px;border-style:outset;overflow:hidden">
<div style="position:absolute;left:360px;top:71.40px" class="cls_002"><span class="cls_002">End User License Agreement</span></div>
<div style="position:absolute;left:72.02px;top:93.26px" class="cls_002"><span class="cls_002">ONASSET TERMS OF SERVICE</span></div>
<div class="parag" style="position:absolute;left:72.02px;top:115.22px" class="cls_003"><span class="cls_003">1. </span><span class="cls_002">ATTENTION!</span><span class="cls_003"> BY ACCEPTING THIS AGREEMENT, EITHER BY CLICKING A BOX INDICATING YOUR ACCEPTANCE OR BY EXECUTING</span>
<span class="cls_003">A PURCHASE ORDER THAT REFERENCES THIS AGREEMENT, YOU AGREE TO THE TERMS OF THIS AGREEMENT. IF YOU ARE</span>
<span class="cls_003">ENTERING INTO THIS AGREEMENT ON BEHALF OF A COMPANY OR OTHER LEGAL ENTITY, YOU REPRESENT THAT YOU HAVE THE</span>
<span class="cls_003">AUTHORITY TO BIND SUCH ENTITY AND ITS AFFILIATES TO THESE TERMS AND CONDITIONS IN WHICH CASE THE TERMS</span>
<span class="cls_003">“CUSTOMER”, “USER”, "YOU" OR "YOUR" SHALL REFER TO SUCH ENTITY AND ITS AFFILIATES. IF YOU DO NOT HAVE SUCH</span>
<span class="cls_003">AUTHORITY, OR IF YOU DO NOT AGREE WITH THESE TERMS AND CONDITIONS, YOU MUST NOT ACCEPT THIS AGREEMENT AND</span>
<span class="cls_003">MAY NOT USE THE SERVICES. YOU SHOULD CAREFULLY READ THE FOLLOWING TERMS OF SERVICE BEFORE EXECUTING THE</span>
<span class="cls_003">AGREEMENT.</span>
<br><br>
<span class="cls_002">2. Terms of Service. </span><span class="cls_003">Customer acknowledges and agrees to the following terms of service, which together with all other Agreements entered</span>
<span class="cls_003">into between Customer and OnAsset, shall govern Customer’s access and use of the Service. Capitalized terms not otherwise defined herein</span>
<span class="cls_003">shall have the meaning given to them in Section 10 (Definitions) below. In addition, Customer agrees that unless explicitly stated otherwise, any</span>
<span class="cls_003">new features that augment or enhance the Service, and/or any new service(s) subsequently purchased by the Customer will be subject to this</span>
<span class="cls_003">Agreement.</span>
<br><br>
<span class="cls_002">2.1. Customer Must Have Internet Access. </span><span class="cls_003">DSL, cable or another high speed Internet connection is required for proper transmission of the</span>
<span class="cls_003">Service. Customer is responsible for procuring and maintaining the network connections that connect the Customer network to the Service,</span>
<span class="cls_003">including, but not limited to, "browser" software that supports protocol used by OnAsset, including Secure Socket Layer (SSL) protocol, Microsoft</span>
<span class="cls_003">Silverlight plug-in, or other protocols accepted by OnAsset, and to follow logon procedures for services that support such protocols. OnAsset is</span>
<span class="cls_003">not responsible for notifying Customer of any upgrades, fixes or enhancements to any such software, or for any compromise of data transmitted</span>
<span class="cls_003">across computer networks or telecommunications facilities (including but not limited to the Internet and wireless networks) which are not owned</span>
<span class="cls_003">or operated by OnAsset. OnAsset assumes no responsibility for the reliability or performance of any connections as described in this Section.</span>
<br><br>
<span class="cls_002">2.2. Users: Passwords, Access, and Notification. </span><span class="cls_003">OnAsset shall authorize access to and assign unique passwords and user names to the</span>
<span class="cls_003">number of Users specified by Customer and accepted by OnAsset. User logins are for designated Users and cannot be shared or used by more</span>
<span class="cls_003">than one User. Customer will be responsible for the confidentiality and use of User’s passwords and user names. Customer will also be</span>
<span class="cls_003">responsible for all Electronic Communications, including those containing business information, account registration, account holder information,</span>
<span class="cls_003">financial information, Customer Data, and all other data of any kind contained within emails or otherwise entered electronically through the Service</span>
<span class="cls_003">or under Customer’s account. OnAsset will act as though any Electronic Communications it receives under Customer’s passwords, user name,</span>
<span class="cls_003">and/or account will have been sent by Customer. Customer shall use commercially reasonable efforts to prevent unauthorized access to or use</span>
<span class="cls_003">of the Service and shall promptly notify OnAsset of any unauthorized access or use of the Service and any loss or theft or unauthorized use of</span>
<span class="cls_003">any User’s password or name and/or Service account information.</span>
<br><br>
<span class="cls_002">2.3. Users: Shipment Tracking Site.  </span><span class="cls_003">OnAsset makes general shipment tracking information available to unregistered users through the</span>
<span class="cls_003">Shipment Tracking Site. A User of this site must input specific shipment identification information to gain access to shipment tracking information.</span>
<span class="cls_003">Shipment identification information will be provided to the User by OnAsset or an OnAsset Partner. OnAsset is not responsible for the</span>
<span class="cls_003">confidentiality and use of any such shipment identification information used to access the Shipment Tracking Site. The Shipment Tracking Site</span>
<span class="cls_003">and tracking information obtained through use of the Shipment Tracking Site are the private property of OnAsset Intelligence. OnAsset authorizes</span>
<span class="cls_003">use of the Shipment Tracking Site solely to track shipments and for no other purpose. Without limitation, you are not authorized to make the</span>
<span class="cls_003">information available on any web site or otherwise reproduce, distribute, copy, store, use or sell the information for commercial gain without the</span>
<span class="cls_003">express written consent of OnAsset. Use of the Shipment Tracking Site or information is non-assignable. Any access or use that is inconsistent</span>
<span class="cls_003">with these terms is unauthorized and strictly prohibited.</span>
<br><br>
<span class="cls_002">2.4. Customer’s Lawful Conduct. </span><span class="cls_003">The Service allows Customer to send Electronic Communications directly to OnAsset and to third parties.</span>
<span class="cls_003">Customer shall comply with all applicable local, state, federal, and foreign laws, treaties, regulations, and conventions in connection with its use</span>
<span class="cls_003">of the Service, including without limitation those related to privacy, electronic communications and anti-spam legislation. Customer shall comply</span>
<span class="cls_003">with the export laws and regulations of the United States and other applicable jurisdictions in using the Service and obtain any permits, licenses</span>
<span class="cls_003">and authorizations required for such compliance. Without limiting the foregoing, (i) Customer represents that it is not named on any U.S.</span>
<span class="cls_003">government list of persons or entities prohibited from receiving exports, (ii) Customer shall not permit Users to access or use the Service in</span>
<span class="cls_003">violation of any U.S. export embargo, prohibition or restriction, and (iii) Customer shall comply with all applicable laws regarding the transmission</span>
<span class="cls_003">of technical data exported from the United States and the country in which its Users are located. Customer will not send any Electronic</span></div>
</div>
<div style="position:absolute;left:50%;margin-left:-414px;top:802px;width:909px;height:800px;border-style:outset;overflow:hidden">
<div class="parag"  style="position:absolute;left:72.02px;top:71.40px" class="cls_002"><span class="cls_002">
<span class="cls_003">Communication from the Service that is unlawful, harassing, libelous, defamatory or threatening. Except as permitted by this Agreement, no part</span>
<span class="cls_003">of the Service may be copied, reproduced, distributed, republished, displayed, posted or transmitted in any form or by any means. Customer</span>
<span class="cls_003">agrees not to access the Service by any means other than through the interfaces that are provided by OnAsset. Customer shall not do any</span>
<span class="cls_003">"mirroring" or "framing" of any part of the Service, or create Internet links to the Service which include log-in information, user names, passwords,</span>
<span class="cls_003">and/or secure cookies. Customer shall not (i) make available nor distribute all of part of the Service to any third party by assignment, sublicense</span>
<span class="cls_003">or by any other means (ii) copy, adapt, reverse engineer, decompile, disassemble, or modify, in whole or in part, any of the Service (iii) implement</span>
<span class="cls_003">the Software to operate in or as a time-sharing, outsourcing, Application Service Provider (ASP), or service bureau environment (iv) make source</span>
<span class="cls_003">code available to any person. Customer will not in any way express or imply that any opinions contained in Customer’s Electronic Communications</span>
<span class="cls_003">are endorsed by OnAsset. Customer shall ensure that all access and use of the Service by Users is in accordance with the terms and conditions</span>
<span class="cls_003">of this Agreement, including but not limited to those Users that are contractors and agents, and Customer’s Affiliates. Any action or breach by</span>
<span class="cls_003">any of such contractors, agents or Affiliates shall be deemed an action or breach by Customer and Customer waives all of those defenses that</span>
<span class="cls_003">Customer may have as to why Customer should not be liable for Customer’s contractors’, agents’ or Affiliates' acts, omissions and noncompliance</span>
<span class="cls_003">with this Agreement.</span>
<br><br>
<span class="cls_002">2.5. Third Party Applications, Products and Services. </span><span class="cls_003">OnAsset may utilize Third Party Applications or services, including implementation,</span>
<span class="cls_003">customization and other consulting services related to customers’ use of the Service. OnAsset does not warrant any such Third Party Applications</span>
<span class="cls_003">or services, whether or not such Third Party Applications are designated by OnAsset as "certified," "approved", “recommended” or otherwise, or</span>
<span class="cls_003">the services are provided by a third party that is a member of a OnAsset partner program. OnAsset is not responsible for the availability or the</span>
<span class="cls_003">quality, accuracy, integrity, fitness, safety, reliability, legality, or any other aspect of such Third Party Applications or services that Customer may</span>
<span class="cls_003">use through the Service, or any descriptions, promises or other information related to the foregoing.</span>
<br><br>
<span class="cls_002">2.6. Transmission of Data. </span><span class="cls_003">Customer understands that the technical processing and transmission of Customer’s Electronic Communications is</span>
<span class="cls_003">fundamentally necessary to use of the Service. Customer expressly consents to OnAsset’s interception, storage, analysis and archiving of</span>
<span class="cls_003">Electronic Communications and/or Customer Data, and Customer acknowledges and understands that Customer’s Electronic Communications</span>
<span class="cls_003">will involve transmission over the Internet, and over various networks, only part of which may be owned and/or operated by OnAsset. Customer</span>
<span class="cls_003">further acknowledges and understands that Electronic Communications may be accessed by unauthorized parties when communicated across</span>
<span class="cls_003">the Internet, network communications facilities, telephone or other electronic means. OnAsset is not responsible for any Electronic</span>
<span class="cls_003">Communications and/or Customer Data which are delayed, lost, altered, intercepted or stored during the transmission of any data whatsoever</span>
<span class="cls_003">across networks not owned and/or operated by OnAsset, including, but not limited to, the Internet and Customer’s local network.</span>
<br><br>
<span class="cls_002">2.7. OnAsset’s Support. </span><span class="cls_003">As part of the Service, OnAsset will provide Customer with online training to assist Customer in its use of the Service.</span>
<span class="cls_003">OnAsset will also provide links to email and phone support. OnAsset also offers optional and “for fee” training classes, professional services</span>
<span class="cls_003">consultation, and customer support services. Customer acknowledges that OnAsset has extensive experience helping Customers improve</span>
<span class="cls_003">utilization and realization of benefits of the Service, and that not following the advice of OnAsset and/or not engaging OnAsset or other OnAsset</span>
<span class="cls_003">authorized implementation partner in the provision of professional services may substantially limit Customer’s ability to successfully utilize the</span>
<span class="cls_003">Service or to enjoy the power and potential of the Service.</span>
<br><br>
<span class="cls_002">2.8. Confidentiality. </span><span class="cls_003">For purposes of this Agreement, “Confidential Information” shall include the terms of this Agreement, Customer Data, each</span>
<span class="cls_003">party’s proprietary technology, business processes and technical product information, designs, issues, all communication between the Parties</span>
<span class="cls_003">regarding the Service and any information that is clearly identified in writing at the time of disclosure as confidential. Confidential Information shall</span>
<span class="cls_003">not include information which: (1) is known publicly; (2) is generally known in the industry before disclosure; (3) has become known publicly,</span>
<span class="cls_003">without fault of the Receiving Party, subsequent to disclosure by the Disclosing Party; (4) the Receiving Party becomes aware of from a third</span>
<span class="cls_003">party not bound by non-disclosure obligations to the Disclosing Party and with the lawful right to disclose such information to the Receiving Party;</span>
<span class="cls_003">(5) aggregate statistical data regarding OnAsset’s products and services that does not contain any personally identifiable or Customer-identifiable</span>
<span class="cls_003">information; or (6) shipment identification information for use with the Shipment Tracking Site. </span><span class="cls_002">Each party agrees: </span><span class="cls_003">(a) to keep confidential all</span>
<span class="cls_003">Confidential Information; (b) not to use or disclose Confidential Information except to the extent necessary to perform its obligations or exercise</span>
<span class="cls_003">rights under this Agreement or as directed by Customer; (c) to protect the confidentiality thereof in the same manner as it protects the</span>
<span class="cls_003">confidentiality of similar information and data of its own (at all times exercising at least a reasonable degree of care in the protection of such</span>
<span class="cls_003">Confidential Information) and to make Confidential Information available to authorized persons only on a “need to know” basis. Either party may</span>
<span class="cls_003">disclose Confidential Information on a need to know basis to its contractors and service providers who have executed written agreements requiring</span>
<span class="cls_003">them to maintain such information in strict confidence and use it only to facilitate the performance of their services in connection with the</span>
<span class="cls_003">performance of this Agreement. Notwithstanding the foregoing, this Section will not prohibit the disclosure of Confidential Information to the extent</span>
<span class="cls_003">that such disclosure is permitted by law or order of a court or other governmental authority or regulation.</span></div>
</div>
<div style="position:absolute;left:50%;margin-left:-414px;top:1604px;width:909px;height:800px;border-style:outset;overflow:hidden">

<div class="parag" style="position:absolute;left:72.02px;top:71.40px" class="cls_002"><span class="cls_002">2.9. Ownership of Customer Data. </span><span class="cls_003">As between OnAsset and Customer, all title and intellectual property rights in and to the Customer Data is</span>
<span class="cls_003">owned exclusively by Customer. Customer acknowledges and agrees that in connection with Service, OnAsset as part of its standard Service</span>
<span class="cls_003">offering makes backup copies of the Customer Data in Customer’s account and stores and maintains such data for a period of time consistent</span>
<span class="cls_003">with OnAsset standard business processes.  Customer further acknowledges that OnAsset may utilize Customer Data for the purposes of</span>
<span class="cls_003">statistical analysis of the Service so long as such data is not specifically linked or identifiable to a specific Customer.</span>
<br><br>
<span class="cls_002">2.10. OnAsset Intellectual Property Rights. </span><span class="cls_003">Customer agrees that all rights, title and interest in and to all intellectual property rights in the</span>
<span class="cls_003">Service are owned exclusively by OnAsset or its suppliers. Except as provided in this Agreement, the license granted to Customer does not</span>
<span class="cls_003">convey any rights in the Service, express or implied, or ownership in the Service or any intellectual property rights thereto. In addition, OnAsset</span>
<span class="cls_003">shall have a royalty-free, worldwide, transferable, sub-licensable, irrevocable, and perpetual license to use or incorporate into the Service any</span>
<span class="cls_003">suggestions, enhancement requests, recommendations or other feedback provided by Customer, including users, relating to the operation of the</span>
<span class="cls_003">Service. Any rights not expressly granted herein are reserved by OnAsset. OnAsset service marks, logos and product and service names are</span>
<span class="cls_003">marks of OnAsset (the "OnAsset Marks"). Customer agrees not to display or use the OnAsset Marks in any manner without OnAsset’s express</span>
<span class="cls_003">prior written permission. The trademarks, logos and service marks of Third Party Application providers ("Marks") are the property of such third</span>
<span class="cls_003">parties. Customer is not permitted to use these Marks without the prior written consent of such third party which may own the Mark.</span>
<br><br>
<span class="cls_002">2.11. Dispute Resolution. </span><span class="cls_003">Each party agrees that before it or any employee, agent or representative of the party files a claim or suit with a</span>
<span class="cls_003">federal or state agency or court or other public forum, it shall provide thirty (30) days prior written notice to the other and that, within such thirty</span>
<span class="cls_003">(30) day period (or longer, if extended by mutual desire of the parties), authorized representatives of the parties shall meet (or confer by telephone)</span>
<span class="cls_003">at least once in a good faith attempt to resolve the perceived dispute.</span>
<br><br>
<span class="cls_002">2.12. Agreement to Governing Law and Jurisdiction.</span><span class="cls_003"> Each party agrees to the applicable governing law of the state of Texas without regard</span>
<span class="cls_003">to choice or conflicts of law rules, and to the exclusive jurisdiction of the applicable courts of Texas.</span>
<br><br>
<span class="cls_002">2.13. Waiver of Jury Trial.</span><span class="cls_003"> Each party hereby waives any right to jury trial in connection with any action or litigation in any way arising out of or</span>
<span class="cls_003">related to this Agreement.</span>
<br><br>
<span class="cls_002">2.14. Restrictions. </span><span class="cls_003">Customer agrees that it will not reverse engineer, decompile, or disassemble any portion of the Service, prepare translations</span>
<span class="cls_003">or derivative works based upon the Service, or distribute, sublicense, rent, lease, sell or otherwise commercially exploit the Service, or otherwise</span>
<span class="cls_003">use the Service except as expressly set forth herein. Any attempt to transfer any of the rights, duties or obligations hereunder except as expressly</span>
<span class="cls_003">provided for in this End User License Agreement is void.</span>
<br><br>
<span class="cls_002">2.15. Export Law Assurances. </span><span class="cls_003">Customer acknowledges and agrees that the Service is subject to restrictions and controls imposed by the United</span>
<span class="cls_003">States Export Administration Act (the “Act”) and the regulations thereunder. Customer agrees and certifies that neither the Service nor any direct</span>
<span class="cls_003">product thereof is being or will be acquired, shipped, transferred or re-exported, directly or indirectly, into any country prohibited by the Act and</span>
<span class="cls_003">the regulations thereunder or will be used for any purpose prohibited by the same.</span>
<br><br>
<span class="cls_002">3. Disclaimer of Warranties. </span><span class="cls_003">ONASSET DOES NOT REPRESENT THAT CUSTOMER’S USE OF THE SERVICE WILL BE SECURE, TIMELY,</span>
<span class="cls_003">UNINTERRUPTED OR ERROR-FREE OR THAT THE SERVICE WILL MEET CUSTOMER’S REQUIREMENTS OR THAT ALL ERRORS IN</span>
<span class="cls_003">THE SERVICE AND/OR DOCUMENTATION WILL BE CORRECTED OR THAT THE OVERALL SYSTEM THAT MAKES THE SERVICE</span>
<span class="cls_003">AVAILABLE (INCLUDING BUT NOT LIMITED TO THE INTERNET, OTHER TRANSMISSION NETWORKS, AND CUSTOMER’S LOCAL</span>
<span class="cls_003">NETWORK AND EQUIPMENT) WILL BE FREE OF VIRUSES OR OTHER HARMFUL COMPONENTS. THERE ARE NO OTHER WARRANTIES</span>
<span class="cls_003">OR CONDITIONS, EXPRESS OR IMPLIED, INCLUDING WITHOUT LIMITATION, THOSE OF MERCHANTABILITY OR FITNESS FOR A</span>
<span class="cls_003">PARTICULAR PURPOSE OR NONINFRINGEMENT OF THIRD PARTY RIGHTS. THE SERVICE IS PROVIDED TO CUSTOMER ON AN “AS</span>
<span class="cls_003">IS” AND “AS AVAILABLE” BASIS, AND IS FOR COMMERCIAL USE ONLY. CUSTOMER ASSUMES ALL RESPONSIBILITY FOR</span>
<span class="cls_003">DETERMINING WHETHER THE SERVICE OR THE INFORMATION GENERATED THEREBY IS ACCURATE OR SUFFICIENT FOR</span>
<span class="cls_003">CUSTOMER’S PURPOSES.</span>
<br><br>
<span class="cls_002">4. Limitations of Liability. </span><span class="cls_003">CUSTOMER AGREES THAT THE CONSIDERATION WHICH ONASSET IS CHARGING HEREUNDER DOES NOT</span>
<span class="cls_003">INCLUDE CONSIDERATION FOR ASSUMPTION BY ONASSET OF THE RISK OF CUSTOMER’S INCIDENTAL OR CONSEQUENTIAL</span>
<span class="cls_003">DAMAGES. IN NO EVENT SHALL EITHER PARTY BE LIABLE TO ANYONE FOR LOST PROFITS OR REVENUE OR FOR INCIDENTAL,</span>
<span class="cls_003">CONSEQUENTIAL, PUNITIVE, COVER, SPECIAL, RELIANCE OR EXEMPLARY DAMAGES, OR INDIRECT DAMAGES OF ANY TYPE OR</span>
<span class="cls_003">KIND HOWEVER CAUSED, WHETHER FROM BREACH OF WARRANTY, BREACH OR REPUDIATION OF CONTRACT, NEGLIGENCE, OR</span>
<span class="cls_003">ANY OTHER LEGAL CAUSE OF ACTION FROM OR IN CONNECTION WITH THIS AGREEMENT (AND WHETHER OR NOT THE PARTY</span></div>
</div>
<div style="position:absolute;left:50%;margin-left:-414px;top:2406px;width:909px;height:800px;border-style:outset;overflow:hidden">

<div class="parag" style="position:absolute;left:72.02px;top:71.40px" class="cls_003"><span class="cls_003">HAS BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES TO THE MAXIMUM EXTENT PERMITTED BY LAW) OR OTHERWISE</span>
<span class="cls_003">SHALL IN NO EVENT EXCEED THE DIRECT DAMAGE LIMITATIONS AS SET FORTH IN THIS SECTION 4.</span>
<span class="cls_003">Except with regard to amounts due under this Agreement, and a party’s breach of Section 2.8 (Confidentiality), the maximum liability of either</span>
<span class="cls_003">party to any person, firm or corporation whatsoever arising out of or in the connection with any license, use or other employment of the Service,</span>
<span class="cls_003">whether such liability arises from any claim based on breach or repudiation of contract, breach of warranty, negligence, tort, or otherwise, shall</span>
<span class="cls_003">in no case exceed the equivalent of 3 months in Service fees applicable at the time of the event, and in the event of a breach of Section 2.8</span>
<span class="cls_003">(Confidentiality) of this Terms of Service, such maximum liability of either party shall be an amount equal to three (3) times the equivalent of 3</span>
<span class="cls_003">months of Service fees applicable at the time of the event. The essential purpose of this provision is to limit the potential liability of the parties</span>
<span class="cls_003">arising from this Agreement. The parties acknowledge that the limitations set forth in this Section are integral to the amount of fees charged in</span>
<span class="cls_003">connection with making the Service available to Customer and that, were OnAsset to assume any further liability other than as set forth herein,</span>
<span class="cls_003">such fees would of necessity be set substantially higher. THE LIMITATIONS OF LIABILITY SET FORTH IN THIS SECTION SHALL NOT APPLY</span>
<span class="cls_003">TO EITHER PARTY’S INDEMNITY OBLIGATIONS EXCEPT AS SET FORTH IN SECTION 5 BELOW. Certain states and/or jurisdictions do not</span>
<span class="cls_003">allow the exclusion of implied warranties or limitations of liability for incidental or consequential damages, so the exclusions set forth above may</span>
<span class="cls_003">not apply to Customer.</span>
<br><br>
<span class="cls_002">5. Indemnification.</span>
<br><br>
<span class="cls_002">5.1. Infringement. </span><span class="cls_003">If a claim of infringement is brought or threatened, OnAsset shall, at its sole option and expense, use commercially reasonable</span>
<span class="cls_003">efforts either (a) to procure a license that will protect Customer against such claim without cost to Customer; (b) to modify or replace all or portions</span>
<span class="cls_003">of the Service as needed to avoid infringement, such update or replacement having substantially similar or better capabilities; or (c) if (a) and (b)</span>
<span class="cls_003">are not commercially feasible, terminate the Agreement and refund to the Customer a pro-rata refund of the Service fees paid for under the</span>
<span class="cls_003">Agreement for the terminated portion of the term. The rights and remedies granted Customer under this Section 5.1 state OnAsset’s entire liability,</span>
<span class="cls_003">and Customer's exclusive remedy, with respect to any claim of infringement of the intellectual property rights of a third party.</span>
<br><br>
<span class="cls_002">5.2. Disclosure of Customer Data. </span><span class="cls_003">OnAsset shall, at its own expense and subject to the limitations set forth in Section 4 and Section 5, defend</span>
<span class="cls_003">Customer from and against any claims that arise out of or result directly from OnAsset’s gross negligence or willful misconduct in preventing</span>
<span class="cls_003">unauthorized access to confidential Customer Data, as determined by a court of competent jurisdiction in connection with a claim alleging a</span>
<span class="cls_003">breach of confidentiality, and shall hold Customer harmless from and against liability for any losses to the extent based upon such a claims.</span>
<span class="cls_003">When OnAsset is at fault but such fault does not rise to the level of gross negligence or willful misconduct, OnAsset shall, at its own expense and</span>
<span class="cls_003">subject to the limitations set forth in this Section 5 and on the amount of liability set forth in Section 4 applicable in the event of a breach of Section</span>
<span class="cls_003">2.8, defend Customer from and against any claims, and shall hold Customer harmless from and against liability for any losses to the extent based</span>
<span class="cls_003">upon claims, arising out of or relating to OnAsset’s breach of Section 2.8 (Confidentiality) of this Terms of Service. Provided that OnAsset complies</span>
<span class="cls_003">with this Section 5.2, Customer shall be entitled as its sole and exclusive remedy to terminate the Agreement and receive a pro-rata refund of</span>
<span class="cls_003">the subscription fees paid for under the Agreement for the terminated portion of the term.</span>
<br><br>
<span class="cls_002">5.3. Customer’s Indemnity</span><span class="cls_003">. Customer shall, at its own expense and subject to the limitations set forth in this Section 5, defend OnAsset from</span>
<span class="cls_003">and against any and all claims (i) alleging that the Customer Data or any trademarks or service marks other than OnAsset Marks, or any use</span>
<span class="cls_003">thereof, infringes the intellectual property rights or other rights, or has caused harm to a third party, or (ii) arising out of Customer’s breach of</span>
<span class="cls_003">Section 2.4 (Customer’s Lawful Conduct) or 2.8 (Confidentiality) above and shall hold OnAsset harmless from and against liability for any losses</span>
<span class="cls_003">to the extent based upon such a claims.</span>
<br><br>
<span class="cls_002">5.4. Indemnification Procedures and Survival</span><span class="cls_003">. In the event of a potential indemnity obligation under this Section 5, the indemnified party shall:</span>
<span class="cls_003">(i) promptly notify the indemnifying party in writing of such claim; (ii) allow the indemnifying party to have sole control of its defense and settlement;</span>
<span class="cls_003">and (iii) upon request of the indemnifying party, cooperate in all reasonable respects, at the indemnifying party’s cost and expense, with the</span>
<span class="cls_003">indemnifying party in the investigation, trial, and defense of such claim and any appeal arising therefrom. The indemnification obligations under</span>
<span class="cls_003">this Section 5 are expressly conditioned upon the indemnified party’s compliance with this Section 5.4 except that failure to notify the indemnifying</span>
<span class="cls_003">party of such claim shall not relieve that party of its obligations under this Section 5 but such claim shall be reduced to the extent of any damages</span>
<span class="cls_003">attributable to such failure. The indemnification obligations contained in this Section 5 shall survive termination of this Agreement for one year.</span>
<br><br>
<span class="cls_002">5.5. Modification Indemnity. </span><span class="cls_003">OnAsset shall have no indemnity liability under this Section 5 with respect to any claim based upon: (a) a Service</span>
<span class="cls_003">that has been modified by anyone other than OnAsset; (b) use of other than the then-current Release of the Service; (c) use of the Service not</span>
<span class="cls_003">in accordance with the documentation; (d) use of the Service in combination with non-OnAsset technology; or (e) use of the Service which use</span>
<span class="cls_003">breaches this End User License Agreement.</span></div>
</div>
<div style="position:absolute;left:50%;margin-left:-414px;top:3208px;width:909px;height:800px;border-style:outset;overflow:hidden">

<div class="parag" style="position:absolute;left:72.02px;top:83.30px" class="cls_002"><span class="cls_002">6. Suspension/Termination.</span>
<br><br>
<span class="cls_002">6.1. Suspension for Delinquent Account. </span><span class="cls_003">OnAsset reserves the right to suspend Customer’s and any Customer Affiliates’ access to and/or</span>
<span class="cls_003">use of the Service for any accounts (i) for which any payment is due but unpaid but only after OnAsset has provided Customer written notice,</span>
<span class="cls_003">and at least thirty (30) days have passed since the transmission of the written notice, or (ii) for which Customer has not paid for the renewal term</span>
<span class="cls_003">and has not notified OnAsset of its desire to renew the Service by the end date of the then current term. The suspension is for the entire account</span>
<span class="cls_003">and Customer understands that such suspension would therefore include Affiliate sub-accounts. Customer agrees that OnAsset shall not be</span>
<span class="cls_003">liable to Customer or to any Customer Affiliate or other third party for any suspension of the Service pursuant to this Section 6.1.</span>
<br><br>
<span class="cls_002">6.2. Suspension for Ongoing Harm. </span><span class="cls_003">Customer agrees that OnAsset may with reasonably contemporaneous telephonic notice to Customer</span>
<span class="cls_003">suspend access to the Service if OnAsset reasonably concludes that Customer’s Service is being used to engage in denial of service attacks,</span>
<span class="cls_003">spamming, or illegal activity, and/or use of Customer’s Service is causing immediate, material and ongoing harm to OnAsset or others. In the</span>
<span class="cls_003">extraordinary event that OnAsset suspends Customer’s access to the Service, OnAsset will use commercially reasonable efforts to limit the</span>
<span class="cls_003">suspension to the offending portion of the Service and resolve the issues causing the suspension of Service. Customer further agrees that</span>
<span class="cls_003">OnAsset shall not be liable to Customer nor to any third party for any suspension of the Service under such circumstances as described in this</span>
<span class="cls_003">Section 6.2.</span>
<br><br>
<span class="cls_002">6.3. Termination for Cause, Expiration. </span><span class="cls_003">Either party may immediately terminate this Agreement and all Service issued hereunder in the event</span>
<span class="cls_003">the other party commits a material breach of any provision of this Agreement which is not cured within thirty (30) days of written notice from the</span>
<span class="cls_003">non-breaching party. Such notice by the complaining party shall expressly state all of the reasons for the claimed breach in sufficient detail so as</span>
<span class="cls_003">to provide the alleged breaching party a meaningful opportunity to cure such alleged breach and shall be sent to the breaching party (“Notice”).</span>
<span class="cls_003">Upon termination or expiration of this Agreement, Customer shall have no rights to continue use of the Service. If this Agreement is terminated</span>
<span class="cls_003">by Customer for any reason other than a termination expressly permitted by this Agreement, Customer agrees that OnAsset shall be entitled to</span>
<span class="cls_003">all of the fees due under this Agreement for the entire Term. If this Agreement is terminated as a result of a breach on OnAsset’s part, OnAsset</span>
<span class="cls_003">shall refund the pro rata portion of any subscription fees paid by Customer to OnAsset under this Agreement for the terminated portion of the</span>
<span class="cls_003">term.</span>
<br><br>
<span class="cls_002">6.4. Handling of Customer Data In The Event Of Termination. </span><span class="cls_003">Customer agrees that following termination of Customer’s account and/or use</span>
<span class="cls_003">of the Service, OnAsset may immediately deactivate Customer’s account and that following a reasonable period of not less than 30 days shall</span>
<span class="cls_003">be entitled to delete Customer’s account from OnAsset’s “live” site. During this 30 day period and upon Customer’s request, OnAsset will grant</span>
<span class="cls_003">Customer limited access to the Service for several days for the sole purpose of permitting Customer to retrieve Customer Data, provided that</span>
<span class="cls_003">Customer has paid in full all good faith undisputed amounts owed to OnAsset. Customer further agrees that OnAsset shall not be liable to</span>
<span class="cls_003">Customer nor to any third party for any termination of Customer access to the Service or deletion of Customer Data, provided that OnAsset is in</span>
<span class="cls_003">compliance with the terms of this Section 6.4.</span>
<br><br>
<span class="cls_002">7. Modification; Discontinuation of the Service.</span>
<br><br>
<span class="cls_002">7.1 To the Service</span><span class="cls_003">. OnAsset may make modifications to the Service or particular components of the Service from time to time and will use</span>
<span class="cls_003">commercially reasonable efforts to notify Customer of any material modifications. OnAsset reserves the right to discontinue offering the Service</span>
<span class="cls_003">at the conclusion of Customer’s then current term. OnAsset shall not be liable to Customer nor to any third party for any modification of the</span>
<span class="cls_003">Service as described in this Section 7.1. OnAsset may modify the Terms of Service at any time.</span>
<br><br>
<span class="cls_002">7.2 To Applicable Terms</span><span class="cls_003">. If OnAsset makes a material change to any applicable terms, then OnAsset will notify Customer by either sending an</span>
<span class="cls_003">email to the notification email address, posting a notice in the account login screen of Customer’s account or by publishing a notice of changes</span>
<span class="cls_003">on the website </span><span class="cls_006">http://www.onasset.com</span><span class="cls_003">. If the change has a material adverse impact on Customer and Customer does not agree to the change,</span>
<span class="cls_003">Customer must so notify OnAsset via written notification within thirty days after receiving notice of the change and Customer may terminate use</span>
<span class="cls_003">of the Services. Customer’s continued use of the Service after notice of any change to the Terms of Service will be deemed to be an agreement</span>
<span class="cls_003">to the amended Terms of Service.</span>
<br><br>
<span class="cls_002">8. Warranty. </span><span class="cls_003"> OnAsset warrants all material and workmanship relative to SENTRY tracking devices to be free of defects for a period of (1) year</span>
<span class="cls_003">from date of manufacture. OnAsset warrants that each SENTRY device of its own manufacture made available hereunder shall, at the time of</span>
<span class="cls_003">original manufacturing and for a period of (12) months thereafter, be free from defects in materials or workmanship; and if such item shall prove</span>
<span class="cls_003">to be defective in material or workmanship under normal intended usage and maintenance during the warranty period, upon examination by</span>
<span class="cls_003">OnAsset, then OnAsset shall repair, replace or refund, at its sole option, such defective item at its own expense; provided, however, that the</span></div>
</div>
<div style="position:absolute;left:50%;margin-left:-414px;top:4010px;width:909px;height:800px;border-style:outset;overflow:hidden">

<div class="parag" style="position:absolute;left:72.02px;top:71.40px" class="cls_003"><span class="cls_003">Customer shall be required to ship such defective item, freight prepaid, to OnAsset facility in Irving, Texas, All warranties hereunder are expressly</span>
<span class="cls_003">limited to the repair, replacement or refund of defective items as set forth herein, and in no event shall OnAsset be liable for special, incidental</span>
<span class="cls_003">or consequential damages by reason of any breach of warranty or defect in material or workmanship.  OnAsset shall not be responsible for repair,</span>
<span class="cls_003">replacement or refund of items, which have been subjected to neglect, accidental or improper use, or which have been altered by other than</span>
<span class="cls_003">authorized OnAsset personnel.  This warranty is in lieu of other warranties, express or implied.  All implied warranties, including but not limited</span>
<span class="cls_003">to the implied warranties of merchantability and fitness for a particular purpose, are hereby excluded.</span>
<br><br>
<span class="cls_002">9. Patents</span><span class="cls_003">. Service is protected under Patent numbers: 7,233,247; 7,475,806; 7,538,681; 7,652,576; 7,791,455; 8,061,607; 8,502,672;</span>
<span class="cls_003">8,626,193; 8,655,378; 8,818,351; 8,838,065; 8,868,102; 8,886,215; 8,886,216; 9,020,536; 9,349,270</span>
<br><br>
<span class="cls_002">10. Definitions.</span>
<br><br>
<span class="cls_002">“Affiliates” </span><span class="cls_003">means any entity which directly or indirectly, through one or more intermediaries, controls, or is controlled by, or is under common</span>
<br><br>
<span class="cls_003">control with Customer, by way of majority voting stock ownership or the ability to otherwise direct or cause the direction of the management and</span>
<span class="cls_003">policies of Customer.</span>
<br><br>
<span class="cls_002">“OnAsset Partner” </span><span class="cls_003">means any authorized entity which directly or indirectly provides, facilitates, advertises or otherwise markets the Service.</span>
<br><br>
<span class="cls_002">“Shipment Tracking Site” </span><span class="cls_003">means a website made available to the general public without user name or password protection for the purposes of</span>
<span class="cls_003">viewing tracking information related to a specific shipment or shipments.</span>
<br><br>
<span class="cls_002">“Customer Data” </span><span class="cls_003">means all electronic data or information submitted to the Service by Customer or its Affiliates or the OnAsset Partner.</span>
<br><br>
<span class="cls_002">“Electronic Communications” </span><span class="cls_003">means any transfer of signs, signals, text, images, sounds, data or intelligence of any nature transmitted in</span>
<span class="cls_003">whole or part electronically received and/or transmitted through the Services.</span>
<br><br>
<span class="cls_002">“Service” </span><span class="cls_003">collectively, OnAsset’s online application suite (the “Vision” platform and the “Shipment Tracking” site), data forwarding and/or API</span>
<span class="cls_003">services, SENTRY tracking devices and wireless connectivity services, including Third Party Applications and implementation services.</span>
<br><br>
<span class="cls_002">“Third Party Applications” </span><span class="cls_003">means online applications and offline software products that are provided by third parties, and interoperate with the</span>
<span class="cls_003">Services.</span>
<br><br>
<span class="cls_002">“Users” </span><span class="cls_003">means individuals who are authorized by OnAsset to use the Services, for whom access to the Service has been provided, and who</span>
<span class="cls_003">have been supplied user identifications, passwords or shipment information by OnAsset or OnAsset Partners. Users may include but are not</span>
<span class="cls_003">limited to Customer’s and Customer’s Affiliates’ employees, consultants, contractors and agents.</span></div>
</div>


                    </div>
                    <br/>
                    <div class="col-sm-12" style="text-align: center;padding-top: 10px;padding-bottom: 15px">
                        <input type="checkbox" name="accept" value="true" ng-model="termCtrl.accept">  I have read and agree to the Terms and Conditions and Privacy Policy <br>
                    </div>
                    <br/>
                    <div class="col-sm-12" style="text-align: center">
                        <form name="userForm" id="userForm" ng-submit="termCtrl.actions.submit()" novalidate>
                           <button ng-disabled="!termCtrl.accept" type="submit" id="btn-submit" class="btn btn-default">Continue</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>