<div ng-controller="LoginsPasswordController as pwdCtrl">
    <div class="col-lg-4 col-lg-offset-4 col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="text-info" ng-if="pwdCtrl.session.user.isFirstLogin">
                            <h3 ><i class="fa fa-info-circle fa-lg"></i> Your temporary password has expired.</h3>
                            <p>Please change your password to continue.</p>
                        </div>
                        <div class="text-danger" ng-if="!pwdCtrl.session.user.isFirstLogin && pwdCtrl.session.user.isPasswordExpired">
                            <h3 ><i class="fa fa-exclamation-circle fa-lg"></i> Your password has expired.</h3>
                            <p>Please change your password to continue.</p>
                        </div>
                        <br/>
                        <br/>
                        <form name="pwdForm" id="pwdForm" ng-submit="pwdCtrl.actions.submit()" novalidate>
                            <div class="form-group" ng-class="{'has-error': !pwdCtrl.currentPassword.isPristine && pwdCtrl.currentPassword.hasError()}">
                                <label for="currentPwd">Current password *</label>
                                <input type="password" class="form-control" id="currentPwd" name="currentPwd" placeholder="Enter your current password" ng-model="pwdCtrl.currentPassword.value" maxlength="80" ng-changed="pwdCtrl.currentPassword.isPristine = true">
                                <p ng-show="!pwdCtrl.currentPassword.isPristine && pwdCtrl.currentPassword.errors.isBlank" class="help-block text-right"><i class="fa fa-exclamation-circle"></i>&nbsp;Current password is required</p>
                                <p ng-show="!pwdCtrl.currentPassword.isPristine && pwdCtrl.currentPassword.errors.isNotCurrent" class="help-block text-right"><i class="fa fa-exclamation-circle"></i>&nbsp;Current password is incorrect</p>
                            </div>
                            <div class="form-group" ng-class="{'has-error':!pwdCtrl.newPassword.isPristine && pwdCtrl.newPassword.hasError()}">
                                <label>New password *</label>
                                <input id="newPassword" type="password" class="form-control" name="newPassword" ng-model="pwdCtrl.newPassword.value" placeholder="Enter your new password" ng-changed="pwdCtrl.newPassword.isPristine = true" autocomplete="off">
                                <p ng-show="!pwdCtrl.newPassword.isPristine && pwdCtrl.newPassword.errors.isBlank" class="help-block text-right"><i class="fa fa-exclamation-circle"></i>&nbsp;New password is required</p>
                                <p ng-show="!pwdCtrl.newPassword.isPristine && pwdCtrl.newPassword.errors.isBadFormat" class="help-block text-right"><i class="fa fa-exclamation-circle"></i>&nbsp;New password must be a minimum of 8 characters and have at least one uppercase letter, one number, and one special case character</p>
                                <p ng-show="!pwdCtrl.newPassword.isPristine && pwdCtrl.newPassword.errors.isRepeat" class="help-block text-right"><i class="fa fa-exclamation-circle"></i>&nbsp;The new password cannot be the same as one of your last four passwords</p>
                            </div>
                            <div class="form-group" ng-class="{'has-error': !pwdCtrl.confirmation.isPristine && pwdCtrl.confirmation.hasError()}">
                                <label>Confirm password *</label>
                                <input id="confirmation" type="password" class="form-control" name="confirmation" ng-model="pwdCtrl.confirmation.value" placeholder="Re-enter your new password for confirmation" ng-changed="pwdCtrl.confirmation.isPristine = true" autocomplete="off">
                                <p ng-show="!pwdCtrl.confirmation.isPristine && pwdCtrl.confirmation.errors.isBlank" class="help-block text-right"><i class="fa fa-exclamation-circle"></i>&nbsp;Password confirmation is required</p>
                                <p ng-show="!pwdCtrl.confirmation.isPristine && pwdCtrl.confirmation.errors.isNotMatching" class="help-block text-right"><i class="fa fa-exclamation-circle"></i>&nbsp;Password confirmation does not match new password</p>
                            </div>
                            <div class="form-group">
                                <div class="text-right">
                                    <button type="submit" id="btn-submit" class="btn btn-default"><i class="fa fa-save"></i>&nbsp;&nbsp;Save</button>
                                    <button type="button" class="btn btn-default" ng-click="pwdCtrl.actions.reset()"><i class="fa fa-undo"></i>&nbsp;&nbsp;Reset</button>
                                    <button type="button" class="btn btn-default" ng-click="pwdCtrl.actions.close()" ng-if="!pwdCtrl.session.user.isPasswordExpired"><i class="fa fa-times"></i>&nbsp;&nbsp;Cancel</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>