<div ng-controller="ShipmentTrackingSummaryController as shipmentSummary">
    <div shipment-tracking-filterbar></div>
        <div class="row">
        <div class="col-sm-12">
            <button id="print-summary-button" class="btn btn-default" type="button" ng-click="shipmentSummary.print()" ><i class="fa fa-print"></i>&nbsp;Print</button>
            <div id="print-container">
                <div id="print-title"><span>{{ shipmentSummary.reportName}} Report</span>
                    <img id="print-summary-logo" src=""/>
                </div>
                <div id="print-summary-info">
                    <table width="100%">
                        <tr>
                            <td class="print-summary-info-label">Report Creation<br/>(UTC {{ shipmentSummary.timezoneOffset }})</td>
                            <td class="print-summary-info-value">{{ shipmentSummary.now }}</td>
                        </tr>
                        <tr>
                            <td class="print-summary-info-label">Shipment Number</td>
                            <td class="print-summary-info-value">{{ shipmentSummary.shipment.referenceNumber }}</td>
                        </tr>
                        <tr>
                            <td class="print-summary-info-label">Device</td>
                            <td class="print-summary-info-value">
                                <span ng-if="shipmentSummary.shipment.deviceName">{{ shipmentSummary.shipment.deviceName }}<br/></span>
                                <span>{{ shipmentSummary.shipment.deviceTagId }}</span>
                            </td>
                        </tr>
                        <tr>
                            <td class="print-summary-info-label">Status</td>
                            <td class="print-summary-info-value">{{ shipmentSummary.shipment.status }}</td>
                        </tr>
                        <tr>
                            <td class="print-summary-info-label">Tracking Start<br/>(UTC {{ shipmentSummary.timezoneOffset }})</td>
                            <td class="print-summary-info-value"><span local-datetime utc-datetime="{{shipmentSummary.shipment.startDate}}" date-format="L" time-format="LTS"></span></td>
                        </tr>
                        <tr>
                            <td class="print-summary-info-label">Tracking End<br/>(UTC {{ shipmentSummary.timezoneOffset }})</td>
                            <td class="print-summary-info-value"><span local-datetime utc-datetime="{{shipmentSummary.shipment.endDate}}" date-format="L" time-format="LTS"></span></td>
                        </tr>
                        <tr ng-repeat="stop in shipmentSummary.shipment.stops">
                            <td class="print-summary-info-label" ng-if="$first">Origin (0)</td>
                            <td class="print-summary-info-label" ng-if="!$first && !$last">Stop ({{ $index }})</td>
                            <td class="print-summary-info-label" ng-if="$last">Destination ({{$index}})</td>
                            <td class="print-summary-info-value">{{ stop.nameForAddress }}</td>
                        </tr>
                    </table>
                </div>
                <div id="print-summary-map">
                    <img ng-src="{{shipmentSummary.staticMapUrl}}" />
                </div>
                <div id="print-timeline-container">
                    <div id="summaryTimeline"></div>
                </div>
                <div id="print-summary-sensor">
                    <table width="100%">
                        <thead>
                            <tr>
                                <th class="print-summary-sensor-daterange">Date range (UTC {{ shipmentSummary.timezoneOffset }})</th>
                                <th class="print-summary-sensor-value">Mean ({{ shipmentSummary.unitOfMeasure }})</th>
                                <th class="print-summary-sensor-value">Std Dev</th>
                                <th class="print-summary-sensor-value">Min ({{ shipmentSummary.unitOfMeasure }})</th>
                                <th class="print-summary-sensor-value">Max ({{ shipmentSummary.unitOfMeasure }})</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="print-summary-sensor-daterange">{{ shipmentSummary.fromDate }} to {{ shipmentSummary.toDate }}</td>
                                <td class="print-summary-sensor-value">{{ shipmentSummary.justify(shipmentSummary.mean) }}</td>
                                <td class="print-summary-sensor-value">{{ shipmentSummary.justify(shipmentSummary.stdDev) }}</td>
                                <td class="print-summary-sensor-value">{{ shipmentSummary.justify(shipmentSummary.min) }}</td>
                                <td class="print-summary-sensor-value">{{ shipmentSummary.justify(shipmentSummary.max) }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div id="print-summary-alarm">
                    <table width="100%">
                        <thead>
                        <tr>
                            <th class="print-summary-alarm-text-left" colspan="2" width="250">Time (UTC {{ shipmentSummary.timezoneOffset }})</th>
                            <th class="print-summary-alarm-text-left" width="300">Alarms</th>
                            <th class="print-summary-alarm-text-right" width="100">{{shipmentSummary.reportName}}</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="alarm in shipmentSummary.reports | filter: shipmentSummary.filter" ng-class="{'print-text-ok':alarm.severity === 'ok', 'print-text-danger':alarm.severity === 'warning', 'print-text-info': alarm.severity === 'info' }">
                            <td class="print-summary-alarm-text-centered">
                                <img src="../img/print-alarm-circle.png" title="Warning" ng-if="alarm.severity === 'warning'" />
                                <img src="../img/print-info-circle.png" title="Info" ng-if="alarm.severity === 'info'" />
                                <img src="../img/print-ok-circle.png" title="Ok" ng-if="alarm.severity === 'ok'" />
                            </td>
                            <td class="print-summary-alarm-text-left"><span local-datetime utc-datetime="{{alarm.messageTimeStamp}}" date-format="L" time-format="LTS"></span></td>
                            <td class="print-summary-alarm-text-left">
                                <span ng-repeat="alarmName in alarm.alarms">
                                    {{ alarmName.split(':')[0] }}<br/>
                                </span>
                            </td>
                            <td class="print-summary-alarm-text-right">{{shipmentSummary.justify(alarm[shipmentSummary.propertyName])}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>