<div ng-controller="AlarmContactsListController as alarmContacts">
    <nav class="navbar navbar-default" style="margin-top: 10px" >
        <div class="row filter-alarm" >
            <form class="navbar-form navbar-left col-sm-12 col-xs-12">
                <div class="col-xs-1 col-sm-1">
                   <label><i class="fa fa-lg fa-filter"></i></label>
                </div>
                <div class="col-xs-10 col-sm-10">
                   <input type="text" class="form-control" placeholder="Filter.." ng-model="alarmContacts.filterText">
                </div>
            </form>
            <form class="navbar-form navbar-left  col-sm-4 col-xs-12">

                         <export-table-to file-name="AlarmsContacts" table-id-to-export="alarmsContactsList"></export-table-to>
            </form>
        </div>
    </nav>
    <div class="row">
        <div class="col-sm-12">
            <div class="table-responsive">
                <table class="table table-striped" id="alarmsContactsList">
                    <thead>
                        <tr>
                            <th width="20">#</th>
                            <th width="300" class="sortcolumn" ng-click="alarmContacts.sortBy(['lastname', 'firstname'])">Name<span class="sortorder" ng-show="alarmContacts.propertyName.toString() === 'lastname,firstname'" ng-class="{reverse: alarmContacts.reverse}"></span></th>
                            <th class="sortcolumn" ng-click="alarmContacts.sortBy('emailAddress')">Email<span class="sortorder" ng-show="alarmContacts.propertyName === 'emailAddress'" ng-class="{reverse: alarmContacts.reverse}"></span></th>
                            <th class="sortcolumn" ng-click="alarmContacts.sortBy('smsAddress')">Sms Email<span class="sortorder" ng-show="alarmContacts.propertyName === 'smsAddress'" ng-class="{reverse: alarmContacts.reverse}"></span></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-show="alarmContacts.list.length === 0" class="warning noExport">
                            <td></td>
                            <td colspan="18">There are no alarm contacts for this client</td>
                        </tr>
                        <tr ng-show="alarmContacts.list.length > 0" class="warning noExport">
                            <td></td>
                            <td colspan="18">Showing {{ filteredList.length }} / {{ alarmContacts.list.length }} contacts</td>
                        </tr>
                        <tr ng-show="alarmContacts.list.length != 0" ng-repeat="contact in filteredList = (alarmContacts.list | filter: alarmContacts.filter | orderBy:alarmContacts.propertyName:alarmContacts.reverse)">
                            <td width="20">{{ $index + 1 }}</td>
                            <td width="300"><a ui-sref="alarmcontact.admin({ contactId: contact.contactId})">{{ contact.lastname}}, {{ contact.firstname}}</a></td>
                            <td>{{ contact.emailAddress}}</td>
                            <td>{{ contact.smsAddress}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>